
.avatar {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: "white";
    border-radius: 25px;
    border: 2px solid #3e4552;
}


.list-header{
    padding-top: 10px;
}

.list-item{
    font-size: 11px;
}

.list-image{
    border: 5px solid #3e4552;
}