
.avatar {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: "white";
    border-radius: 25px;
    border: 2px solid #3e4552;
}

.Albatross {
    scale: 65%;
}

.contacts {
    font-family: var(--sans);
    font-weight: 400;
    font-size: var(--med);
    margin-right: 1.2rem;
}
.contacts li {
    font-weight: 300;
    
}
.contacts li::marker{
    content: ">  ";
    color: var(--accent);
}
.title{
    color: var(--muted);

}
