.sidebar-main {
    font-family: 'moon-rounded';
    position: relative;
    background-color: #1C1F26;
    display: flex;
    border-radius: 25px;
    border: 2px solid #3e4552;
    height: 80%;
    width: auto;
    top: 6vh;
    flex-direction: column;
    align-items: center;
    min-width: 380px;
    margin-right: 40px;
}

.avatar {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: "white";
    border-radius: 25px;
    border: 2px solid #3e4552;
}

.social-links{
    
}

.list-header{
    padding-top: 10px;
}

.list-item{
    font-size: 11px;
}

.list-image{
    border: 5px solid #3e4552;
}