.social{
  display: flex;
  justify-content: center;;
  align-items: center;
  background-color: var(--bg);
  padding: 1.5rem;
  gap: var(--xlarge);
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  transition: transform 0.5s ease;
}

@media (min-width: 900px) {
  .logo:hover {
    transform: scale(1.2);
    z-index: 1;
  }
}