.tabs-bar {
    font-family: 'moon-rounded';
    position: absolute;
    background-color: #2A2E37;
    display: flex;
    border-radius: 0px 0px 25px 25px;
    border: 2px solid #3E4552;
    height: 43px;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin-top: -2px;
    flex-direction: row;
}

.tabs-link {
    font-size: 20px;
    font-family: 'moon-rounded';
    background-color: #2A2E37;
    color: #E4E6EB;
    margin-right: 30px;
    margin-left: 30px;
    transition: color 0.5s ease;
    padding: 0px;
}

.tabs-link:hover {
    color:#7FB7BE;
    border-top: 1px solid #2A2E37;
    border-right: 1px solid #2A2E37;
    border-left: 1px solid #2A2E37;
    border-bottom: 1px solid #2A2E37;
}

.active-tab {
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 60px;
    background-color: #7FB7BE;
    transition: transform 0.3s ease-in-out;
    left: 180px;
    top: 35px;
}

.active-tab.home {
    transform: translateX(-150px); /* adjust this based on button size */
}

.active-tab.about {
    transform: translateX(-25px);
}

.active-tab.experience {
    transform: translateX(130px);
}

.active-tab.projects {
    transform: translateX(300px);
}
