:root {

  --sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
  --bg: #1C1F26;
  --internal: #121821;
  --border: #3e4552;
  --text: #e6eef7;
  --muted: #9ab0c3;
  --accent: #60a5fa;
  --small: 0.5rem;
  --med: 1rem;
  --large: 1.5rem;
  --xlarge: 2rem;
  --radius: 25px;


  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (prefers-color-scheme: light) {
  :root {
    --sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
    --bg: #1C1F26;
    --internal: #121821;
    --border: #1f2a37;
    --text: #e6eef7;
    --muted: #9ab0c3;
    --accent: #60a5fa;

  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.001ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.001ms !important;
    scroll-behavior: auto !important;
  }
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
  font-family: var(--sans);
  font-weight: 400;
  color: var(--text);
  background: var(--bg);
}

a {
  font-weight: 500;
  color: var(--muted);
  text-decoration: inherit;
}
a:hover {
  color: var(--accent);
}

a:focus-visible {
  outline: 2px solid var(--accent);
  outline-offset: 2px;
}

img, svg, video {
  max-width: 100%;
  height: auto;
  display: block;
}

/*above is setup and below is not additional */

@font-face{
  font-family: 'moon-rounded';
  src: url('./assets/fonts/Moon-Rounded-Font/Moon-Light.otf') format('truetype');
}

@font-face{
  font-family: 'moon2.0-rounded-light';
  src: url('./assets/fonts/Moon-Rounded-Font/Moon-2.0-Light.otf') format('opentype')
}

@font-face{
  font-family: 'moon2.0-rounded';
  src: url('./assets/fonts/Moon-Rounded-Font/Moon-2.0-Regular.otf') format('opentype');
}

@font-face{
  font-family: 'moon2.0-rounded-bold';
  src: url('./assets/fonts/Moon-Rounded-Font/Moon-2.0-Bold.otf') format('opentype');
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: clamp(1rem, 1vw, 1.5rem); /* 16px to 24px */
}

/* below does not have vars implemented */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2A2E37;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color: #7FB7BE;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}




