:root {

  --sans: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", sans-serif;
  --bg: #1C1F26;
  --internal: #121821;
  --border: #1f2a37;
  --text: #e6eef7;
  --muted: #9ab0c3;
  --accent: #60a5fa;


  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html:focus-within {
  scroll-behavior: smooth;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  line-height: 1.5;
  font-family: var(--sans);
  color: var(--text);
  background: var(--bg);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

@font-face{
  font-family: 'moon-rounded';
  src: url('./assets/fonts/Moon-Rounded-Font/Moon-Light.otf') format('truetype');
}

@font-face{
  font-family: 'moon2.0-rounded-light';
  src: url('./assets/fonts/Moon-Rounded-Font/Moon-2.0-Light.otf') format('opentype')
}

@font-face{
  font-family: 'moon2.0-rounded';
  src: url('./assets/fonts/Moon-Rounded-Font/Moon-2.0-Regular.otf') format('opentype');
}

@font-face{
  font-family: 'moon2.0-rounded-bold';
  src: url('./assets/fonts/Moon-Rounded-Font/Moon-2.0-Bold.otf') format('opentype');
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h3 {
  font-size: clamp(1rem, 1vw, 1.5rem); /* 16px to 24px */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2A2E37;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  color: #7FB7BE;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #1C1F26;;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



