:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1C1F26;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@font-face{
  font-family: 'moon-rounded';
  src: url('./assets/fonts/Moon-Rounded-Font/Moon-Light.otf') format('truetype');
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #2A2E37;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  color: #7FB7BE;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.main-container{
  font-family:'moon-rounded';
  color: #E4E6EB;
  background-color: #1C1F26;
  display: flex;
  align-items:  normal;
  justify-content: center;
  border: 2px solid transparent;
  width: 100%;
  height: 100%;
  min-width: 100vw; 
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.content-body {
  font-family:'moon-rounded';
  color: #E4E6EB;
  position: relative;
  display: flex;
  align-items: right;
  justify-content: center;
  border-radius: 25px;
  border: 2px solid #3E4552;
  width: 45%;
  min-width: 650px;
  height: 70%;
  background-color: #1C1F26;
  top: 6vh;
  padding-top: 50px;
}

/* TabsBar styles */

.tabs-bar {
  font-family: 'moon-rounded';
  position: absolute;
  background-color: #2A2E37;
  display: flex;
  border-radius: 0px 0px 25px 25px;
  border: 2px solid #3E4552;
  min-height: 43px;
  max-height: 43px;
  width: auto;
  height: 4.5vh;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  margin-top: -2px;
  flex-direction: row;
}

.tabs-link {
    font-size: clamp(0.5rem, 10vw,1.25rem); /* 20px */
    font-family: 'moon-rounded';
    background-color: #2A2E37;
    color: #E4E6EB;
    margin-right: 30px;
    margin-left: 30px;
    transition: color 0.5s ease;
    padding: 0px;
}

.tabs-link:hover {
    color:#7FB7BE;
    border-top: 1px solid #2A2E37;
    border-right: 1px solid #2A2E37;
    border-left: 1px solid #2A2E37;
    border-bottom: 1px solid #2A2E37;
}

.active-tab {
    position: absolute;
    bottom: 0;
    height: 5%; /*2px*/
    width: 10%; /*60px*/
    background-color: #7FB7BE;
    transition: transform 0.3s ease-in-out;
    left: 30.8%; /*180px*/
    top: 80%; /*35px*/
}

.active-tab.home {
    transform: translateX(-150px); /* adjust this based on button size */
}

.active-tab.about {
    transform: translateX(-25px);
}

.active-tab.experience {
    transform: translateX(130px);
}

.active-tab.projects {
    transform: translateX(300px);
}

/* TabsBar styles end */

/* TabContent Styles */
.tab-content {
  padding: '2rem';
  width: 200px;
  border: 2px solid red;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #1C1F26;;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}




